:root {
    --primarino: #131218;
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Karantina', cursive;
    --fuenteSecundaria: "Rubik Doodle Shadow", system-ui;

}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/*Globales*/
body{
    margin: 0;
    padding: 0;
    background-color: var(--primarino);
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 2.9rem;
}

p{  
    font-size: 2rem;
    color: var(--blanco);
}

img{
    max-width: 100%;
}

h1, h2, h3 {
    text-align: center;
    color: var(--blanco);
}

h1 {font-size: 4rem; }
h2 {font-size: 3.2rem; }
h3 {font-size: 2.4rem; }

/* Sección de Landing */
.splashscreen{
    position: relative;
    background-color: var(--primarino);
    width: 100%;
    height: 100vh;

}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93%;
    width: 100%;
    transition: opacity 1s ease-in-out;
}

.logo_img {
    width: 45rem;
    height: 45rem;
}

.logo_boton {
    cursor: pointer;
    margin-top: 2rem;
    animation: bounce 1.5s infinite; 
}

.landing_boton svg {
    width: 6rem;
    height: 6rem; 
    transition: transform 0.5 ease-in-out;
}

.landing_boton:hover svg{
    transform: scale(1.1);
}

/*animación de la flecha*/

@keyframes bounce {
    0%, 100% { transform: translateY(0);}
    50% {transform: translateY(5px); }
}

/*Logo de instagram*/

.instagram {
    position: fixed; 
    bottom: 3rem; 
    left: 4.5rem;
    width: 6rem;
    height: 6rem;
}

.instagram-image {
    width: 50%;
    height: auto; 
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.instagram:hover .instagram_image{
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transform: scale(1.1);
}

/* Derechos Reservados */

.derechos-reservados{
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}


/*header */

header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); 
    position: fixed;
    width: 100%;
    height: 8rem;
    top: 0;
}

.barra-navegacion {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.barra-navegacion a {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    height: 100%;
    width: 100%;
    color: var(--blanco);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.barra-navegacion a:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.weirdo-logo {
    width: 25rem;
    height: auto;
    padding-top: 1rem;
}

.carrito img {
    width: 3.2rem;
    height: 3.2rem;
}

/*primera sección*/

.contenedor-p{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    height: 100vh;
}

.contenedor-p_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    width: 100%;
    background-color: var
    (--primarino);
    color: var(--blanco);
    padding: 1rem;
    display: flex;
    justify-content: center;
}

/* SECCIÓN SOBRE MI */

.sobre-mi {
    display: flex;
    width: 100%;
    height: 100vh;
}
.sobre-mi_img img {
    width: 852px;
    height: 885px;
}

.sobre-mi_descripcion {
    width: 950px;
    height: 750px;
    background-color: rgba(102, 102, 102, 0.2);
    border-radius: 50px;
    bottom: 30px;
    margin-left: 3rem;
    margin-top: 8rem;
}

.sobre-mi_descripcion h1 {
    font-size: 80px;
    font-family: var(--fuenteSecundaria);
    margin-top: 4rem;
    margin-left: 7rem;
    text-align:start;
}

.sobre-mi_descripcion p {
    font-size: 30px;
    text-align:start;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: 4rem;
}