:root {
    --primarino: #131218;
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Karantina', cursive;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/*Globales*/
body{
    background-color: var(--primarino);
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5rem;
    margin: 0; 
    padding: 0;
    color: white;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--blanco);
}

p{
    color: var(--blanco);
    display: flex; 
    justify-content: center;
}

img{
    max-width: 100%;
}

h1, h2, h3 {
    text-align: center;
    color: var(--blanco);
}

h1 {font-size: 4rem; }
h2 {font-size: 3.2rem; }
h3 {font-size: 2.4rem; }

/*Logo de instagram*/

.instagram {
    position: fixed; 
    bottom: 3rem; 
    left: 4.5rem;
    width: 6rem;
    height: 6rem;
}

.instagram-image {
    width: 50%;
    height: auto; 
    transition: transform 1s ease-in-out;
}

.instagram:hover {
    transform: scale(1.1);
}

/* Sección de Landing */

.landing {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    transition: opacity 1s ease-in-out;
}

.landing_logo {
    width: 45rem;
    height: 45rem;
}

.landing_boton {
    background-color: none;
    border: none; 
    cursor: pointer;
    margin-top: 2rem;
    animation: bounce 1.5s infinite; 
}

.landing_boton svg {
    width: 6rem;
    height: 6rem; 
    transition: transform 1s;
}

.landing_boton:hover svg{
    transform: scale(1.1);
}

/*animación de la flecha*/

@keyframes bounce {
    0%, 100% { transform: translateY(0);}
    50% {transform: translateY(5px); }
}

header {
    background: rgba(0,0,0,0.8);
    padding: 1rem; 
    width: 100%;
    position: relative;
    top: 0rem; 
    opacity: 0;
    transform: translateY(-5rem);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    z-index: 50;
}

.contenedor {
    min-height: 200vh; 
    padding-top: 10rem; 
}

/*Muestra el header cuando se navega a #main */

/* Transiciones suaves */
/* Hace que la landing desaparezca con efecto de deslizamiento */
#main:target ~ .landing {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

/* Hace que el header aparezca con fade-in y deslizamiento */
#main:target ~ header {
    opacity: 1;
    transform: translateY(0);
    position: fixed; /* Se mantiene en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}